<div class="game-controls">
  <div class="game-controls__options">
    <app-control-option
      (selectOption)="updateLevel($event)"
      [optionGroup]="gameLevelOptionsGroup">
    </app-control-option>
    <app-control-option
      (selectOption)="updateSize($event)"
      [optionGroup]="gameSizeOptionsGroup">
    </app-control-option>
  </div>
  <div (click)="newGame()" class="game-active-state">
    {{ gameEmoji$ | async }}
  </div>
  <div class="control__timer">
    <span>{{ (timeLeft$ | async)! | minutes }}</span>
  </div>
</div>
