@import 'src/assets/styles/vars';

:host {
  background-color: darken($color: $background, $amount: 10%);
  border-radius: 8px;
  box-shadow: $shadow;
  width: 100%;
}

.game-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}


.game-active-state {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
  padding: 12px;
  animation: shake 3s linear infinite alternate;
}

@keyframes shake {
  from {
    transform: translateX(-50%) rotate(-30deg) scale(1.2);
  }

  50% {
    transform: translateX(-50%) rotate(0) scale(1.4);
  }

  to {
    transform: translateX(-50%) rotate(30deg) scale(1.2);
  }
}
