@import 'src/assets/styles/vars';

:host {
  background-color: darken($color: $background, $amount: 10%);
  border-radius: 8px;
  box-shadow: $shadow;
  width: 100%;
}

.game-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;

    &__item {
     &.--center {
      margin-block-start: auto;
      background:red;
     }
      position: relative;
      cursor: pointer;

      &:hover, &:active {
        .option__choices {
          display: flex;
          opacity: 1;
          z-index: 1;
          top: 20px;
          transition: top 200ms ease-in, opacity 200ms ease-in;
        }
      }

      & .option {
        &__header {
          color: white;
        }

        &__choices {
          // display: hidden;
          position: absolute;
          background-color: lighten($color: $background, $amount: 10);
          color: darken($color: $background, $amount: 100);
          font-weight: bold;
          flex-direction: column;
          display: flex;
          z-index: -1;
          top: -5px;
          opacity: 0;

          transition: top 50ms ease-in, opacity 30ms ease-in;

          &:hover {
            display: flex;
          }
          span {
            &:not(:last-child) {
              border-bottom: 1px solid currentColor;
            }

            &:hover {
              background-color: $background;
              cursor: pointer;
            }
            padding: 12px;
          }
        }
      }
    }
  }

}

.game-active-state {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
}
